{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block submenu %} 

    {% if request.user.is_staff %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand" href="#"><i>ADMINISTRAR</i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nep">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casa_new' %}"><i>Actualizar Casa</i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casas' %}"><i>Listar Casas</i></a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    {% endif %}

{% endblock submenu %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
        {% if 'ok' in request.GET %}
          <p> {{casa}} editada correctamente</p>
          <a href="{% url 'casa' casa.id %}" >Haz clic aqui para ver el resultado</a>
        {% endif %}
            <form action="" method="post"  enctype='multipart/form-data'>{% csrf_token %}
                <table>
                    {{form|crispy}}
                </table>
                <br>
                <input type="submit" value="Modificar Casa" class="btn-primary"/>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}