{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block submenu %} 
    {% if request.user.is_staff %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand" href="#"><i>ADMINISTRAR</i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nep">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casa_new' %}"><i>Crear Casa</i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casas' %}"><i>Listar Casas</i></a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    {% endif %}
{% endblock submenu %}

{% block  content %}

    <h1 class="my-4">{{ casa.titulo|linebreaksbr }} <small> - {{ casa.ciudad }}</small></h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid tamano_detail mb-5" src="{{casa.imagen.url}}" alt="">
        </div>

        <div class="col-md-3 ml-3">
            <h3 class="my-3">Descripción:</h3>
            <p>{{ casa.descripcion|linebreaksbr }}</p>
            <h3 class="my-3">Caracteristicas:</h3>
            <ul>
                <li>Precio: $ {{ casa.precio }}</li>
                <li>Dirección: {{ casa.direccion }}</li>
                <li>Habitaciones: {{ casa.cant_habitaciones }}</li>
                <li>Baños: {{ casa.cant_baños }}</li>
                <li>Superficie: {{ casa.metros_2 }}m²</li>
                <li>{% if casa.patio is True %}
                    <p class="">Patio: Si</p>
                    {% else %}
                    <p class="">Patio: No</p>
                    {% endif %}</li>
            </ul>
            {% if request.user.is_staff %}
                <a href="{% url 'casa_update' casa.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'casa_delete' casa.id %}" class="btn btn-sm btn-danger">Eliminar</a>  
            {% endif %}
        </div>

    </div>

{% endblock content %}