{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block submenu %} 
    {% if request.user.is_staff %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand" href="#"><i>ADMINISTRAR</i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nep">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casa_new' %}"><i>Crear Casa</i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'casas' %}"><i>Listar Casas</i></a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    {% endif %}
{% endblock submenu %}

{% block  content %}

    <div class="col-12 prop_detail mt-2 mb-3 p-4 bg-dark">
        <h4>Filtrar por:</h4><br>
        <span>Tipo de Contacto:</span>
        <select  id="fil_cas_tipo_contacto" class="form-control mb-2">
            <option value="">Seleccione </option>
            <option value="Venta">Venta</option>
            <option value="Arriendo">Arriendo</option>
        </select>
        <span>Cantidad Habitaciones:</span>
        <select  id="fil_cas_habitaciones" class="form-control mb-2">
            <option value="">Seleccione </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a class="btn btn-primary" href="{% url 'casas' %}">Listar Todas</a>
    </div>
        {% if not casas %}
                <div class="col-12 prop_detail mt-2 mb-3 p-4 bg-dark ">
                    <div class="d-flex justify-content-center">
                        <h2>No hay Casas</h2><br>
                    </div>
                </div> 
        {% endif %}

        {% for casa in casas %}
                <div class="col-sm-6 col-md-4 mt-3">
                    <div class="card mb-4">
                        <img src="{{casa.imagen.url}}" class="card-img-top tamano_img" alt="">
                        <div class="card-body">
                            <h5 class="card-text"><b>{{ casa.titulo|linebreaksbr }}</b></h5>
                            <p class="card-text">Precio: $ {{ casa.precio }}</p>
                            <p class="card-text">Dirección: {{ casa.direccion }}</p>
                            <p class="card-text">Ciudad: {{ casa.ciudad }}</p>
                            <p class="card-text">Habitaciones: {{ casa.cant_habitaciones }}</p>
                            <p class="card-text">Baños: {{ casa.cant_baños }}</p>
                            <p class="card-text">Metros2: {{ casa.metros_2 }}</p>
                            {% if casa.patio is True %}
                            <p class="card-text">Patio: Si</p>
                            {% else %}
                            <p class="card-text">Patio: No</p>
                            {% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'casa' casa.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
                                    <a href="{% url 'contacto'  %}"  class="btn btn-sm btn-outline-secondary">{{casa.tipo_contacto}}</a>
                                    {% if request.user.is_staff %}
                                        <a href="{% url 'casa_update' casa.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
                                        <a href="{% url 'casa_delete' casa.id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>    
                                    {% endif %}
                                </div>
                            </div>  
                                <small class="text-muted">{{ casa.published_date }}</small>
                        </div>
                    </div>
                </div>
        {% endfor %} 

            
   
    

    <div class=" col-12 justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if casas.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ casas.previous_page_number }}" tabindex="-1"><i class="fas fa-arrow-left"></i></a>
                </li>
                {% endif %}
                
                {% if casas.paginator.num_pages %}
                <li class="page-item disabled"><a class="page-link" href="">{{ casas.number }}</a></li>
                <li class="page-item disabled"><a class="page-link" href="">{{ casas.paginator.num_pages }}</a></li>
                {% endif %}
            
                {% if casas.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ casas.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}