{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block  content %}
    <form action="https://formspree.io/lobos.joaquin@hotmail.com" method="post" onsubmit="return validarFormulario()">
        <div id="tit_form">
            <h1>Formulario de Contacto</h1>
        </div>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese Nombre" onblur="validarNombre();">
        <input type="text" id="mail" name="correo" placeholder="Ingrese Correo" onblur="validarCorreo();">
        <input type="number" id="telefono" name="telefono" placeholder="Ingrese Teléfono" onblur="validarTelefono();">
        <textarea name="mensaje" id="mensaje" placeholder="Escriba su Mensaje" cols="30" rows="10" onblur="validarMensaje();"></textarea>
        <input class="btn btn-danger" type="submit" value="Enviar">
    </form>

{% endblock content %}