{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block  content %}
    
    {% for depto in departamento_list %}

        <div class="col-sm-6 col-md-4 mt-3">
			<div class="card mb-4">
				<img src="{{depto.imagen.url}}" class="card-img-top tamano_img" alt="">
				<div class="card-body">
					<h2 class="card-text">{{ depto.titulo|linebreaksbr }}</h2>
                    <p class="card-text">Dirección: {{ depto.direccion }}</p>
                    <p class="card-text">Piso N°: {{ depto.num_piso }}</p>
                    <p class="card-text">Ciudad: {{ depto.ciudad }}</p>
                    <p class="card-text">Habitaciones: {{ depto.cant_habitaciones }}</p>
                    <p class="card-text">Baños: {{ depto.cant_baños }}</p>
                    <p class="card-text">Metros2: {{ depto.metros_2 }}</p>
                    
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<a href="{% url 'depto' depto.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
							<button class="btn btn-sm btn-outline-secondary">{{depto.tipo_contacto}}</button>
                            {% if request.user.is_staff %}
                                <a href="{% url 'depto_update' depto.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
                                <a href="{% url 'depto_delete' depto.id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                            {% endif %}
						</div>
                        {% if not request.user.is_staff %}
                            <small class="text-muted">{{ depto.published_date }}</small>
                        {% endif %}
					</div>
                    {% if  request.user.is_staff %}
                        <small class="text-muted">{{ depto.published_date }}</small>
                    {% endif %}
				</div>
			</div>
		</div>

    {% endfor %}

{% endblock content %}