{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">
    
{% block submenu %} 

    {% if request.user.is_staff %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand" href="#"><i>ADMINISTRAR</i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nep">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'depto_new' %}"><i>Crear Departamento</i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'deptos' %}"><i>Listar Departamentos</i></a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    {% endif %}

{% endblock submenu %}

{% block  content %}

    <h1 class="my-4">{{ departamento.titulo|linebreaksbr }} <small> - {{ departamento.ciudad }}</small></h1>

    <div class="row">

        <div class="col-md-8">
        <img class="img-fluid tamano_detail mb-5" src="{{departamento.imagen.url}}" alt="">
        </div>

        <div class="col-md-3 ml-3">
        <h3 class="my-3">Descripción:</h3>
        <p>{{ departamento.descripcion|linebreaksbr }}</p>
        <h3 class="my-3">Caracteristicas:</h3>
        <ul>
            <li>Precio: $ {{ departamento.precio }}</li>
            <li>Dirección: {{ departamento.direccion }}</li>
            <li>Habitaciones: {{ departamento.cant_habitaciones }}</li>
            <li>Baños: {{ departamento.cant_baños }}</li>
            <li>Metros2: {{ departamento.metros_2 }}</li>
        </ul>
        {% if request.user.is_staff %}
                <a href="{% url 'depto_update' departamento.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'depto_delete' departamento.id %}" class="btn btn-sm btn-danger">Eliminar</a>    
        {% endif %}
        </div>
    </div>
{% endblock content %}