{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block  content %}
    <article class="post clearfix">
        <img class="thumb pull-left img-thumbnail" src="{% static 'core/img/depto2.jpg' %}" alt="">

        <h2 class="post-title">
            Departamento Limache
        </h2>
        <p class="post-contenido text-justify">
            Departamento nuevo en San Francisco de Limache Condominio cerrado, ubicado en Segundo Piso, living comedor, cocina americana amoblada, loggia, 3 dormitorios el principal en suite, 2 baños completos, cerámica en piso de living cocina y baños, dormitorios
            piso flotante, terraza vista despejada, juegos infantiles. Cerca de Colegios, Supermercados, Bancos, Metrotren, movilización a la puerta. Consejeria las 24 horas,acceso controlado, portón eléctrico, Estacionamiento y Bodega. Gastos
            comunes incluídos en valor del arriendo.
        </p>
        <div class="contenedor-botones">
            <a href="#" class="btn btn-success">Arrendar <span class="badge" id="uf-casa-index"></span></a>
        </div>
    </article>

{% endblock content %}