{% extends 'core/base.html' %}
{% load static %}

{% block submenu_galeria %} 
    {% if request.user.is_staff %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand" href="#"><i>ADMINISTRAR</i></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nep">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria_new' %}"><i>Cargar Foto</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}"><i>Ver Galeria</i></a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    {% endif %}
{% endblock submenu_galeria %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <form class="prop_detail mt-3 mb-5 p-4 bg-dark" action="" method="post">{% csrf_token %}
                        <h1>Eliminar foto</h1>
                        <hr>
                        <p  class="d-flex justify-content-center">¿Estás seguro que quieres eliminar "{{ galeria.titulo }}"?</p>
                        <hr>
                        <input type="submit" value="Sí, eliminar" class = 'btn btn-danger mb-5' />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}