{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/lightbox.css' %}">

{% block  content %}   
    <!-- CONTENIDO -->
      <div class="container">
        <div class="joda_galeria">
            <div class="row mt-2 mb-5">
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/casa4.jpg'%}"> <img src="{% static 'core/img/casa4.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/casa2.jpg'%}"> <img src="{% static 'core/img/casa2.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/casa3.jpg'%}"> <img src="{% static 'core/img/casa3.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/casa8.jpg'%}"> <img src="{% static 'core/img/casa8.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/depto2.jpg'%}"> <img src="{% static 'core/img/depto2.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card">
                        <a href="{% static 'core/img/dpto3.jpg'%}"> <img src="{% static 'core/img/dpto3.jpg'%}"  class="card-img-top tamano_img" alt="Logo"></a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
{% endblock content %}