{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/lightbox.css' %}">

{% block  content %}   
    <!-- CONTENIDO -->
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <a href="{% static 'core/img/depto1.jpg'%}" data-lightbox="galeria" data-title="Prueba 1"> <img src="{% static 'core/img/depto1.jpg'%}" class="tamano_img" alt="Logo"></a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'core/img/depto2.jpg'%}" data-lightbox="galeria" data-title="Prueba 2"> <img src="{% static 'core/img/depto2.jpg'%}" class="tamano_img" alt="Logo"></a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'core/img/depto1.jpg'%}" data-lightbox="galeria" data-title="Prueba 3"> <img src="{% static 'core/img/depto1.jpg'%}" class="tamano_img" alt="Logo"></a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'core/img/depto1.jpg'%}" data-lightbox="galeria" data-title="Prueba 4"> <img src="{% static 'core/img/depto1.jpg'%}" class="tamano_img" alt="Logo"></a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'core/img/depto1.jpg'%}" data-lightbox="galeria" data-title="Prueba 5" class="tamano_img"> <img src="{% static 'core/img/depto1.jpg'%}" class="tamano_img" alt="Logo"></a>
            </div>
        </div>
    </div>
    
{% endblock content %}