{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">
    
{% block carrusel %}    
    <div id="carousel-1" class="carousel slide slide-style" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="{% static 'core/img/2a.jpg' %}" class="img-responsive" alt="1">
                <div class="carousel-caption">
                    <h3>Venta y Arriendo de Casas</h3>

                </div>
            </div>

            <div class="item">
                <img src="{% static 'core/img/3a.jpg' %}" class="img-responsive" alt="2">
                <div class="carousel-caption">
                    <h3>Arriendo de Departamentos </h3>

                </div>
            </div>

            <div class="item">
                <img src="{% static 'core/img/4a.jpg' %}" class="img-responsive" alt="3">
                <div class="carousel-caption">
                    <h3>Terrenos en Venta</h3>

                </div>
            </div>

        </div>

        <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>

        <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
{% endblock carrusel %}

{% block destacados %}
    <h1 class="center-xs">Destacados</h1>
{% endblock destacados %}

{% block content%}
    <article class="post clearfix">

        <img class="thumb pull-left img-thumbnail" src="{% static 'core/img/depto2.jpg' %}" alt="">

        <h2 class="post-title">
            Departamento Limache
        </h2>
        <p class="post-contenido text-justify">
            Departamento nuevo en San Francisco de Limache Condominio cerrado, ubicado en Segundo Piso, living comedor, cocina americana amoblada, loggia, 3 dormitorios el principal en suite, 2 baños completos, cerámica en piso de living cocina y baños, dormitorios...
        </p>
        <div class="contenedor-botones">
            <a href="{% url 'depto_limache'%}" class="btn btn-primary">Ver más</a>
            <a href="#" class="btn btn-success">Arrendar <span class="badge" id="uf-casa-index"></span></a>

        </div>
    </article>

    <article class="post clearfix">

        <img class="thumb pull-left img-thumbnail" src="{% static 'core/img/casa2.jpg' %}" alt="">

        <h2 class="post-title">
            Casa Limache
        </h2>
        <p class="post-contenido text-justify">
            Muy buena casa de dos pisos, barrio residencial de Limache. Terreno 600 metros, construídos 195. Primer piso, amplio living y comedor con bow window vigas a la vista de roble, ventanas de madera laurel, muy iluminado, bosca, piso de cerámica, 2 dormitorios...
        </p>
        <div class="contenedor-botones">
            <a href="{% url 'casa_limache'%}" class="btn btn-primary">Ver más</a>
            <a href="#" class="btn btn-success">Comprar <span class="badge" id="uf-dpto-index"></span></a>

        </div>
    </article>

    <article class="post clearfix">
        <img class="thumb pull-left img-thumbnail" src="{% static 'core/img/terr1.jpg' %}" alt="">

        <h2 class="post-title">
        Terreno Limache
        </h2>
        <p class="post-contenido text-justify">
            Terreno comercial, terreno 7.748 m2 Construídos: casa-habitación 143m2 y Dos Bodegas 156m2 y 126 m2 estacionamientos techados 40m2...
        </p>
        <div class="contenedor-botones">
            <a href="{% url 'terreno_limache'%}" class="btn btn-primary">Ver más</a>
            <a href="#" class="btn btn-success">Comprar <span class="badge" id="uf-terr-index"></span></a>
        </div>
    </article>
{%  endblock content %}