{% extends 'core/base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">
    
{% block carrusel %}    
    <div id="carousel-1" class="carousel slide carousel-fade" data-ride="carousel">

       <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol> 

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
                <img src="{% static 'core/img/2a.jpg' %}" class="d-block w-100" alt="1">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousel_title  bg-light  ">Venta y Arriendo de Casas</h3>

                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'core/img/3a.jpg' %}" class="d-block w-100" alt="2">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousel_title bg-light ">Venta y Arriendo de Deptos </h3>

                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'core/img/4a.jpg' %}" class="d-block w-100" alt="3">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousel_title bg-light ">Venta de Terrenos</h3>

                </div>
            </div>

        </div>

        <a href="#carousel-1" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>

        <a href="#carousel-1" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
{% endblock carrusel %}

{% block content%}
    <div class = "col-sm-12 titulos_dest">
        <br>
        <h2 class="destacado bg-light d-none d-sm-none d-md-block">Casas destacadas</h2>
        <h2 class="destacado bg-light d-block d-sm-block d-md-none">Casas</h2>
        <hr>           
    </div>
   
    {% for casa in casas %}
        {% if casa.destacado %}

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card mb-4">
                    
                    <img src="{{casa.imagen.url}}" class="card-img-top tamano_img" alt="">
                                
                    <div class="card-body">
                        <h5 class="card-text"><b>{{ casa.titulo|linebreaksbr }}</b></h5>
                        <p class="card-text">Precio: ${{ casa.precio }}</p>
                        <p class="card-text">Dirección: {{ casa.direccion }}</p>
                        <p class="card-text">Ciudad: {{ casa.ciudad }}</p>
                        <p class="card-text">Habitaciones: {{ casa.cant_habitaciones }}</p>
                        <p class="card-text">Baños: {{ casa.cant_baños }}</p>
                        <p class="card-text">Metros2: {{ casa.metros_2 }}</p>
                        {% if casa.patio is True %}
                            <p class="card-text">Patio: Si</p>
                            {% else %}
                            <p class="card-text">Patio: No</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'casa' casa.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
                                <a href="{% url 'contacto'  %}"class="btn btn-sm btn-outline-secondary">{{casa.tipo_contacto}}</a>
                            </div>
                            
                        </div>
                        <small class="text-muted">{{ casa.published_date }}</small>
                    </div>
                </div>
		    </div>

        {% endif %}
    {% endfor %}

    <div class = "col-sm-12 titulos_dest">
        <br>
        <h2 class="destacado bg-light d-none d-sm-none d-md-block">Departamentos destacadas</h2>
        <h2 class="destacado bg-light d-block d-sm-block d-md-none">Deptos</h2>
        <hr>           
    </div>

    {% for depto in deptos %}
        {% if depto.destacado %}

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card mb-4">
                    <img src="{{depto.imagen.url}}" class="card-img-top tamano_img" alt="">
                    <div class="card-body">
                        <h5 class="card-text"><b>{{ depto.titulo|linebreaksbr }}</b></h5>
                        <p class="card-text">Precio: ${{ depto.precio }}</p>
                        <p class="card-text">Dirección: {{ depto.direccion }}</p>
                        <p class="card-text">Ciudad: {{ depto.ciudad }}</p>
                        <p class="card-text">Piso N°: {{ depto.num_piso }}</p>
                        <p class="card-text">Habitaciones: {{ depto.cant_habitaciones }}</p>
                        <p class="card-text">Baños: {{ depto.cant_baños }}</p>
                        <p class="card-text">Metros2: {{ depto.metros_2 }}</p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'depto' depto.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
                                <a href="{% url 'contacto'  %}" class="btn btn-sm btn-outline-secondary">{{depto.tipo_contacto}}</a>
                            </div>
                            
                        </div>
                        <small class="text-muted">{{ depto.published_date }}</small>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}  

    <div class = "col-sm-12 titulos_dest">
        <br>
        <h2 class="destacado bg-light d-none d-sm-none d-md-block">Terrenos destacadas</h2>
        <h2 class="destacado bg-light d-block d-sm-block d-md-none">Terrenos</h2>
        <hr>           
    </div>

    {% for terre in terres %}
        {% if terre.destacado %}

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card mb-4">
                    <img src="{{terre.imagen.url}}" class="card-img-top tamano_img" alt="">
                    <div class="card-body">
                        <h5 class="card-text"><b>{{ terre.titulo|linebreaksbr }}</b></h5>
                        <p class="card-text">Precio: ${{ terre.precio }}</p>
                        <p class="card-text">Dirección: {{ terre.direccion }}</p>
                        <p class="card-text">Ciudad: {{ terre.ciudad }}</p>
                        <p class="card-text">Metros2: {{ terre.metros_2 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'terre' terre.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
                                <a href="{% url 'contacto'  %}" class="btn btn-sm btn-outline-secondary">{{terre.tipo_contacto}}</a>
                            </div>
                            
                        </div>
                        <small class="text-muted">{{ terre.published_date }}</small>
                    </div>
                </div>
            </div>
        
        {% endif %} 
    {% endfor %}  

    
{%  endblock content %}