{% extends "core/base.html" %}

{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block content %} 
    
    <form action="">
        <div id="tit_form">
            <h1>Bienvenido</h1>
        </div>
        <div class="mb-3">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" placeholder="nombre@correo.com" name="correo">
        </div>

        <div class="mb-3">
            <label for="correo">Contraseña</label>
            <input type="password" class="form-control" placeholder="" name="clave">
        </div>
        <br>
        <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-danger">
        <br>
    </form>    

{% endblock %}