    * {
        margin: 0;
        padding: 0;
        /* -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; */
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    
    .parallax {
        background: white fixed no-repeat 50% 50%;
        background-image: linear-gradient( rgba(157, 168, 173, 0.5), rgba(123, 125, 126, 0.5)), url(../img/back2.jpg);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Julius Sans One', sans-serif;
    }
    
    .logo-menu {
        width: 70%;
        height: 70%;
    }
    
    .tamano_logo a img {
        width: 70px;
        height: 70px;
    }
    /* Footer */
    
    footer {
        color: #dfd9d9;
    }
    
    footer .indicator {
        display: block;
        width: 100%;
        padding: 20px;
        color: #dfd9d9;
        text-decoration: none;
    }
    
    .rrss {
        height: 35px;
    }
    
    .centrarImg {
        width: 100%;
    }
    
    footer .nav a:hover {
        text-decoration: underline;
    }
    
    .logo-pxx {
        width: 20%;
        height: 20%;
    }
    /* ---------------------------------------------- */
    
    html {
        scroll-behavior: smooth;
    }
    
    .scrollup {
        position: fixed;
        width: 50px;
        height: 50px;
        background: #850d0d;
        bottom: 40px;
        right: 50px;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        color: #ffffff;
        border-radius: 40px;
        opacity: 0.9;
    }
    
    .scrollup:hover {
        color: #dfd9d9;
    }
    /* ---------------------------------------------- */
    /*Formulario*/
    
    .formulario {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    form {
        width: 400px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    
    #tit_form {
        text-align: center;
        color: #161616;
        margin-bottom: 20px;
        border-bottom: 2px solid #dfd9d9;
    }
    
    #tit_form h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 40px;
    }
    
    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }
    
    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
        min-width: 100%;
    }
    
    .tamano_img {
        width: 100%;
        height: 250px;
    }
    
    .galeria {
        width: 100%;
        height: 250px;
        transition: 1s;
    }
    
    .galeria:hover {
        transform: scale(1.1);
    }
    
    .tamano_detail {
        width: 850px;
        height: 400px;
    }
    
    .titulos_dest h2 {
        text-align: center;
        font-weight: 300;
        font-size: 50px;
    }
    
    .destacado {
        opacity: 80%;
    }
    
    .carousel_title {
        opacity: 80%;
        color: #e6e3e3;
        opacity: 75%;
    }
    
    .prop_detail {
        color: #dfd9d9;
        opacity: 95%;
    }
    
    .links_update_delete {
        color: #161616;
        transition: 0.5s;
    }
    
    .links_update_delete:hover {
        color: #161616;
        transform: scale(1.1);
    }