{% extends "core/base.html" %}

{% load static %}
    <link rel="stylesheet" href="{% static 'core/css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/boostrap.min.css'%}">

{% block content %} 
    {% if 'register' in request.GET %}
        <div class = 'col-xs-12 text-center'>
            <h5>Usuario registrado correctamente, ya puedes identificarte!</h5>
        </div>
    {% endif  %}
    <form action="" method="post">{% csrf_token %}
        <div id="tit_form">
            <h1>Bienvenido</h1>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Usuario" name="username">
        </div>

        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" name="password">
        </div>
        <br>
        <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-danger">
        <br>
        <p>
        ¿Ha olvidado su contraseña?, presione <a href="{% url 'password_reset' %}">aquí</a> para restaurar
        </p>    
    </form>
    

{% endblock %} 