{% extends 'core/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">          
            <div class="prop_detail mt-3 mb-5 p-4 bg-dark">               
              <h3>Restablecimiento de contraseña completado</h3>
              <hr>
              <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
              <p><a class="btn btn-outline-primary" href="{% url 'login' %}">Iniciar sesión</a></p> 
            </div>           
        </div>
      </div>
    </div>
  </div>

{% endblock %}