{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>.errorlist{color:red;}</style>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center"> 
          {% if validlink %}         
            <form class="prop_detail mt-3 mb-5 p-4 bg-dark"  action="" method="post">{% csrf_token %}                
                <h3 class="mb-4">Escriba la nueva contraseña</h3>
              <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
              {{form.new_password1.errors}}
              <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
              <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar contraseña"></p>
            </form>
          {% else %}
            <div class="prop_detail mt-3 mb-5 p-4 bg-dark">
              <h3>Restablecimiento de contraseñas fallido</h3>
              <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
            </div>
          {% endif %}      
        </div>
      </div>
    </div>
  </div>

{% endblock %}